gm-airline.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="default/wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:tns="default/schemas" targetNamespace="default/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="FlightCreateRequest">
        <xs:sequence>
          <xs:element minOccurs="1" name="award_miles_rules" type="tns:AwardMilesRules">
            <xs:annotation>
              <xs:documentation>A complex object for definition of the award mile calculation logic.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="passenger" type="tns:PassengerMax">
            <xs:annotation>
              <xs:documentation>A complex object for representing a passenger.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="routing_type" type="tns:RoutingType">
            <xs:annotation>
              <xs:documentation>Routing type of the flights.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="flights" type="tns:FlightMax">
            <xs:annotation>
              <xs:documentation>An array of flights. We are expecting one flight for one way trip and two flights for round trip.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Response">
        <xs:annotation>
          <xs:documentation>Basic response object</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="status">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>The status of the request. It is always 'ok' for successful responses.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="message">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>The message for the unsuccessful request. It is always null for successful responses.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Amount">
        <xs:annotation>
          <xs:documentation>A complex object for the amount.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="currency_code">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>ISO 4217 currency code of the amount.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="value">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>A decimal value with two decimals in the string representation of amount.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:double" />
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FlightMax">
        <xs:sequence>
          <xs:element minOccurs="1" name="airline">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>IATA code for airline company.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="cabin_type">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Cabin type of the flight.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="flight_number">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Number of the flight.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="pnr">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Passenger name record of the flight.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="ticket_number">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Ticket number of the passenger.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="departure_airport">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>IATA code for the departure airport.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="arrival_airport">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>IATA code for the  arrival airport.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="departure_date_time">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>ISO 8601 date and time in UTC for departure time.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="arrival_date_time">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>ISO 8601 date and time in UTC for arrival time.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="total_amount" type="tns:Amount">
            <xs:annotation>
              <xs:documentation>A complex object for the amount of the flight including currency and value.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="distance">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>The distance between departure and arrival airports.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:integer" />
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="GenderType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="male">
            <xs:annotation>
              <xs:documentation>Male</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="female">
            <xs:annotation>
              <xs:documentation>Female</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="unknown">
            <xs:annotation>
              <xs:documentation>Unknown</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="PassengerMax">
        <xs:annotation>
          <xs:documentation>A complex object for representing a passenger.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="first_name">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>First name of the passenger. Maximum length is 40 characters.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="last_name">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Last name of the passenger. Maximum length is 40 characters.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="mobile">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Mobile phone number of the passenger. It is a unique identifier for passengers in the system. The format is E.164.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="email">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Email address of the passenger.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" default="en" name="language" type="tns:LanguageType">
            <xs:annotation>
              <xs:documentation>The language of the passenger. Possible values are 'en' and 'tr'. Default value is 'en'.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="gender" type="tns:GenderType">
            <xs:annotation>
              <xs:documentation>Gender of the passenger. The possible values are 'female', 'male' or 'unknown'.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="birthday">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Birthday of the passenger. The possible values are a date with YYYYMMDD formatted or null.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AwardMilesRules">
        <xs:annotation>
          <xs:documentation>A complex object for definition of the award mile calculation logic.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="award_type" type="tns:AwardType">
            <xs:annotation>
              <xs:documentation>The type of the award base. The possible values are 'distance_based' and 'fare_based'.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="base_ratio">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>The ratio for calculating base mile from distance or fare. Possible value is an integer between 1 and 100.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:integer" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="checkin_ratio">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>The additional mile ratio for a check-in operation. Possible value as an integer between 0 and 100.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:integer" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="checkout_ratio">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>The additional mile ratio for a check-out operation. Possible value as an integer between 0 and 100.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:integer" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="survey_ratio">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>The additional mile ratio for a survey. Possible value as an integer between 0 and 100.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:integer" />
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="LanguageType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="en">
            <xs:annotation>
              <xs:documentation>for English</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="tr">
            <xs:annotation>
              <xs:documentation>for Turkish</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="AwardType">
        <xs:annotation>
          <xs:documentation>The type of the award base. The possible values are 'distance_based' and 'fare_based'.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="distance_based" />
          <xs:enumeration value="fare_based" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="MemberSearchRequest">
        <xs:sequence>
          <xs:element minOccurs="1" name="ffp_number">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>FFP number of member</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="first_name">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>First name</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="last_name">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Last name</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="FlightStatusType">
        <xs:annotation>
          <xs:documentation>The final status of flight. The possible values are 'used', 'unused' and 'reissued'.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="used">
            <xs:annotation>
              <xs:documentation>Used</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="unused">
            <xs:annotation>
              <xs:documentation>Unused</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="reissued">
            <xs:annotation>
              <xs:documentation>Reissued</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="PassengerMin">
        <xs:annotation>
          <xs:documentation>A complex object for representing a minimal passenger information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="first_name">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>First name of the passenger. Maximum length is 40 characters.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="last_name">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Last name of the passenger. Maximum length is 40 characters.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="mobile">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Mobile phone number of the passenger. It is a unique identifier for passengers in the system. The format is E.164.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="email">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Email address of the passenger.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NewMemberRequest">
        <xs:sequence>
          <xs:element minOccurs="1" name="user" type="tns:User">
            <xs:annotation>
              <xs:documentation>A complex object for representing a user.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="flight" type="tns:FlightSimple">
            <xs:annotation>
              <xs:documentation>A complex object for flight.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FlightMin">
        <xs:sequence>
          <xs:element minOccurs="1" name="pnr">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Passenger name record of the flight.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="ticket_number">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Ticket number of the passenger.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="flight_number">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Number of the flight.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MemberSearchResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:Response">
            <xs:sequence>
              <xs:element minOccurs="1" name="tier_type" type="tns:TierType">
                <xs:annotation>
                  <xs:documentation>Type of tiers.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" name="base_miles">
                <xs:simpleType>
                  <xs:annotation>
                    <xs:documentation>Value of current miles.</xs:documentation>
                  </xs:annotation>
                  <xs:restriction base="xs:integer" />
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="1" name="promo_miles">
                <xs:simpleType>
                  <xs:annotation>
                    <xs:documentation>Value of status miles.</xs:documentation>
                  </xs:annotation>
                  <xs:restriction base="xs:integer" />
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="FlightSimple">
        <xs:annotation>
          <xs:documentation>A complex object for flight.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="airline">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>IATA code for airline company.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="pnr">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Passenger name record of the flight.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="departure_date">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>ISO 8601 date for departure time.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="departure_airport">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>IATA code for the departure airport.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="arrival_airport">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>IATA code for the  arrival airport.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="User">
        <xs:annotation>
          <xs:documentation>A complex object for representing a user.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="first_name">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>First name of the user. Maximum length is 40 characters.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="last_name">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Last name of the user. Maximum length is 40 characters.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="mobile">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Mobile phone number of the user It is a unique identifier for users in the system. The format is E.164.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="email">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Email address of the user.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="language" type="tns:LanguageType">
            <xs:annotation>
              <xs:documentation>The language of the user. Possible values are 'en' and 'tr'.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="gender" type="tns:GenderType">
            <xs:annotation>
              <xs:documentation>Gender of the user. The possible values are 'female', 'male' or 'unknown'.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="birthday">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Birthday of the user. The possible values are a date with YYYYMMDD formatted or null.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="nationality">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Nationality</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="national_id_number">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>National ID Number</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="academic_title">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Academic Title</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="address">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Address</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="country">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Country</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="city">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>City</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="area">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>State/County/Province/Region</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="zip_code">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Zip Code</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="password">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Password</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FlightStatusResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:Response">
            <xs:sequence>
              <xs:element minOccurs="1" name="flight_status" type="tns:FlightStatusType">
                <xs:annotation>
                  <xs:documentation>The final status of flight. The possible values are 'used', 'unused' and 'reissued'. For the reissued tickets the following new flight information must provided.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" name="flight" type="tns:FlightMax">
                <xs:annotation>
                  <xs:documentation>A complex for the flight. It is only accepted for reissued status.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="FlightStatusRequest">
        <xs:sequence>
          <xs:element minOccurs="1" name="passenger" type="tns:PassengerMin">
            <xs:annotation>
              <xs:documentation>A complex object for representing passenger.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="flight" type="tns:FlightMin">
            <xs:annotation>
              <xs:documentation>A complex object for flight.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NewMemberResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:Response">
            <xs:sequence>
              <xs:element minOccurs="0" name="ffp_number">
                <xs:simpleType>
                  <xs:annotation>
                    <xs:documentation>Card number of frequent flyer.</xs:documentation>
                  </xs:annotation>
                  <xs:restriction base="xs:string" />
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="0" name="tier_type" type="tns:TierType">
                <xs:annotation>
                  <xs:documentation>Type of tiers.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="need_extra_info" type="tns:ExtraInfoType">
                <xs:annotation>
                  <xs:documentation>If the provided information is not enough to create a ffp member, this field can use to get new information. The possible values are language, gender, birthday, nationality, national_id_number, academic_title, address, country, city, area, zip_code, password. We will collect the additional information from user and will enhance the first request and will send it again.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:simpleType name="ExtraInfoType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="nationality">
            <xs:annotation>
              <xs:documentation>Nationality</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="national_id_number">
            <xs:annotation>
              <xs:documentation>National ID Number</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="language">
            <xs:annotation>
              <xs:documentation>Language</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="gender">
            <xs:annotation>
              <xs:documentation>Gender</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="birthday">
            <xs:annotation>
              <xs:documentation>Birthday</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="academic_title">
            <xs:annotation>
              <xs:documentation>Academic Title</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="address">
            <xs:annotation>
              <xs:documentation>Address</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="country">
            <xs:annotation>
              <xs:documentation>Country</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="city">
            <xs:annotation>
              <xs:documentation>City</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="area">
            <xs:annotation>
              <xs:documentation>Area</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="zip_code">
            <xs:annotation>
              <xs:documentation>Zip Code</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="password">
            <xs:annotation>
              <xs:documentation>Password</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="RoutingType">
        <xs:annotation>
          <xs:documentation>Routing type of the flights. 'one_way' for one way, 'round_trip' for round trip.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="one_way">
            <xs:annotation>
              <xs:documentation>One way trip indicator.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="round_trip">
            <xs:annotation>
              <xs:documentation>Round trip indicator.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="TierType">
        <xs:annotation>
          <xs:documentation>Type of tiers</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="unknown">
            <xs:annotation>
              <xs:documentation>Unknown</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="basic">
            <xs:annotation>
              <xs:documentation>Basic</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="tier1">
            <xs:annotation>
              <xs:documentation>Red</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="tier2">
            <xs:annotation>
              <xs:documentation>Silver</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="tier3">
            <xs:annotation>
              <xs:documentation>Gold</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="tier4">
            <xs:annotation>
              <xs:documentation>Platinum</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="tier5">
            <xs:annotation>
              <xs:documentation>Diamond</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="tier6">
            <xs:annotation>
              <xs:documentation>Corparate</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="CabinType">
        <xs:annotation>
          <xs:documentation>Cabin type of the flight.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="A">
            <xs:annotation>
              <xs:documentation>First Class Discounted</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="B">
            <xs:annotation>
              <xs:documentation>Economy/Coach</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="C">
            <xs:annotation>
              <xs:documentation>Business Class</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="D">
            <xs:annotation>
              <xs:documentation>Business Class Discounted</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="E">
            <xs:annotation>
              <xs:documentation>Shuttle Service (no reservation allowed) or Economy/Coach Discounted</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="F">
            <xs:annotation>
              <xs:documentation>First Class</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="G">
            <xs:annotation>
              <xs:documentation>Conditional Reservation</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="H">
            <xs:annotation>
              <xs:documentation>Economy/Coach Discounted</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="J">
            <xs:annotation>
              <xs:documentation>Business Class Premium</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="K">
            <xs:annotation>
              <xs:documentation>Economy/Coach Discounted</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="L">
            <xs:annotation>
              <xs:documentation>Economy/Coach Discounted</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="M">
            <xs:annotation>
              <xs:documentation>Economy/Coach Discounted</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="N">
            <xs:annotation>
              <xs:documentation>Economy/Coach Discounted</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="P">
            <xs:annotation>
              <xs:documentation>First Class Premium</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Q">
            <xs:annotation>
              <xs:documentation>Economy/Coach Discounted</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="R">
            <xs:annotation>
              <xs:documentation>First Class Suite or Supersonic (discontinued)</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="S">
            <xs:annotation>
              <xs:documentation>Economy/Coach</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="T">
            <xs:annotation>
              <xs:documentation>Economy/Coach Discounted</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="U">
            <xs:annotation>
              <xs:documentation>Shuttle Service</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="V">
            <xs:annotation>
              <xs:documentation>Economy/Coach Discounted</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="W">
            <xs:annotation>
              <xs:documentation>Economy/Coach Premium</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="X">
            <xs:annotation>
              <xs:documentation>Economy/Coach Discounted</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Y">
            <xs:annotation>
              <xs:documentation>Economy/Coach</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Z">
            <xs:annotation>
              <xs:documentation>Business Class Discounted</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="POST_RecommendaNewMember_InputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="Body" type="tns:NewMemberRequest">
              <xs:annotation>
                <xs:documentation>The body of the request.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="POST_RecommendaNewMember_OutputMessage" type="tns:NewMemberResponse" />
      <xs:element name="POST_FlightStatus_InputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="Body" type="tns:FlightStatusRequest">
              <xs:annotation>
                <xs:documentation>The body of the request.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="POST_FlightStatus_OutputMessage" type="tns:FlightStatusResponse" />
      <xs:element name="POST_FlightCreation_InputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="Body" type="tns:FlightCreateRequest">
              <xs:annotation>
                <xs:documentation>The body of the request.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="POST_FlightCreation_OutputMessage" type="tns:Response" />
      <xs:element name="POST_MemberSearch_InputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="Body" type="tns:MemberSearchRequest">
              <xs:annotation>
                <xs:documentation>The body of the request.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="POST_MemberSearch_OutputMessage" type="tns:MemberSearchResponse" />
    </xs:schema>
  </types>
  <message name="POST_RecommendaNewMember_InputMessage">
    <part name="POST_RecommendaNewMember_InputMessage" xmlns:q1="default/schemas" element="q1:POST_RecommendaNewMember_InputMessage" />
  </message>
  <message name="POST_RecommendaNewMember_OutputMessage">
    <part name="POST_RecommendaNewMember_OutputMessage" xmlns:q2="default/schemas" element="q2:POST_RecommendaNewMember_OutputMessage" />
  </message>
  <message name="POST_FlightStatus_InputMessage">
    <part name="POST_FlightStatus_InputMessage" xmlns:q3="default/schemas" element="q3:POST_FlightStatus_InputMessage" />
  </message>
  <message name="POST_FlightStatus_OutputMessage">
    <part name="POST_FlightStatus_OutputMessage" xmlns:q4="default/schemas" element="q4:POST_FlightStatus_OutputMessage" />
  </message>
  <message name="POST_FlightCreation_InputMessage">
    <part name="POST_FlightCreation_InputMessage" xmlns:q5="default/schemas" element="q5:POST_FlightCreation_InputMessage" />
  </message>
  <message name="POST_FlightCreation_OutputMessage">
    <part name="POST_FlightCreation_OutputMessage" xmlns:q6="default/schemas" element="q6:POST_FlightCreation_OutputMessage" />
  </message>
  <message name="POST_MemberSearch_InputMessage">
    <part name="POST_MemberSearch_InputMessage" xmlns:q7="default/schemas" element="q7:POST_MemberSearch_InputMessage" />
  </message>
  <message name="POST_MemberSearch_OutputMessage">
    <part name="POST_MemberSearch_OutputMessage" xmlns:q8="default/schemas" element="q8:POST_MemberSearch_OutputMessage" />
  </message>
  <portType name="Global_x0020_Miles_x0020_Airline_x0020_API_PortType">
    <operation name="POST_RecommendaNewMember">
      <documentation>This endpoint allows to recommend a new member to airlines.</documentation>
      <input xmlns:q9="default/wsdl" message="q9:POST_RecommendaNewMember_InputMessage" />
      <output xmlns:q10="default/wsdl" message="q10:POST_RecommendaNewMember_OutputMessage">
        <documentation></documentation>
      </output>
    </operation>
    <operation name="POST_FlightStatus">
      <documentation>This endpoint allows to search the status of flight.</documentation>
      <input xmlns:q11="default/wsdl" message="q11:POST_FlightStatus_InputMessage" />
      <output xmlns:q12="default/wsdl" message="q12:POST_FlightStatus_OutputMessage">
        <documentation></documentation>
      </output>
    </operation>
    <operation name="POST_FlightCreation">
      <documentation>This endpoint allows to create a flight on the system and defines the mileage rules for the passenger.</documentation>
      <input xmlns:q13="default/wsdl" message="q13:POST_FlightCreation_InputMessage" />
      <output xmlns:q14="default/wsdl" message="q14:POST_FlightCreation_OutputMessage">
        <documentation></documentation>
      </output>
    </operation>
    <operation name="POST_MemberSearch">
      <documentation>This endpoint allows to search a member on the airline system.</documentation>
      <input xmlns:q15="default/wsdl" message="q15:POST_MemberSearch_InputMessage" />
      <output xmlns:q16="default/wsdl" message="q16:POST_MemberSearch_OutputMessage">
        <documentation></documentation>
      </output>
    </operation>
  </portType>
  <binding name="Global_x0020_Miles_x0020_Airline_x0020_API_Binding" xmlns:q17="default/wsdl" type="q17:Global_x0020_Miles_x0020_Airline_x0020_API_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="POST_RecommendaNewMember">
      <soap:operation soapAction="POST_RecommendaNewMember" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="POST_FlightStatus">
      <soap:operation soapAction="POST_FlightStatus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="POST_FlightCreation">
      <soap:operation soapAction="POST_FlightCreation" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="POST_MemberSearch">
      <soap:operation soapAction="POST_MemberSearch" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="Global_x0020_Miles_x0020_Airline_x0020_API">
    <documentation>API for Airlines</documentation>
    <port name="default_Port" xmlns:q18="default/wsdl" binding="q18:Global_x0020_Miles_x0020_Airline_x0020_API_Binding">
      <soap:address location="https%3A%2F%2Ftest1.api.globalmiles.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>